---
layout: not_homepage
quote: Skills
---

{% include quote.html quote=page.quote%}
<div class="container about_section">
  <div class="skills_wrapper">
    {% for tech_group in site.data.skills %}
      <div class="skill_group">
        <div class="col m4 s6">
          <h4 class="heading">{{tech_group.name}}:</h4>
          <div class="skills">
            {% for tech in tech_group.skills %}
            <i class="about_skill_icon devicon-{{tech.class}}"></i>
            <span class="skill_names">{{tech.skill_name}}</span><br/>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>